name: Build and Test

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: "temurin"

      - name: Clone and build jpf-core
        run: |
          git clone https://github.com/javapathfinder/jpf-core.git $HOME/jpf-core
          cd $HOME/jpf-core
          ./gradlew build

      - name: Create site.properties file
        run: |
          mkdir -p $HOME/.jpf
          echo "jpf-core = $HOME/jpf-core" > $HOME/.jpf/site.properties
          echo "extensions = $HOME/jpf-core" >> $HOME/.jpf/site.properties

      - name: Build and test jpf-nhandler
        run: ./gradlew clean check
